{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}{{ title }}{% endblock %}</h2>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}" id="newpost">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <hr>
      <article class="post">
        {% include 'blog/inner_post.html' %}
      </article>
  {% endfor %}
  <nav>
    {% if page > 1 %}<a href="{{ url_for('blog.index', page=page-1) }}">Previous page</a>{% endif %}
    {% if page < npages %}<a href="{{ url_for('blog.index', page=page+1) }}">Next page</a>{% endif %}
  </nav>
{% endblock %}

