{% extends 'base.html' %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
  <article class="post">
    {% include 'blog/inner_post.html' %}
    <section class="likes">
      Liked by {{ post.likes }} people. 
      <form method="POST" class="linkform" action="{{ url_for('blog.like', post_id=post['id']) }}">
        <input type="hidden" name="like" value="{{ '1' if not post['liked'] else '0' }}">
        <input type="submit" value="{{ 'Like' if not post['liked'] else 'Unlike' }}">
      </form>
    </section>
    <section class="tags">
      Tags:
      {% if 'tags' in post %}
        {% for tag in post.tags %}
          <a href="{{ url_for('blog.posts_with_tag', tag=tag) }}" class="tag">{{ tag }}</a>
        {% endfor %}
      {% else %}
        none
      {% endif %}
    </section>
    <section class="comments">
      <h2>Comments</h2>
      {% for comment in comments %}
        {% include 'blog/comments/inner_comment.html' %}
      {% endfor %}
      <a href="{{ url_for('blog.new_comment', post_id=post.id) }}">New comment</a>
    </section>
  </article>
{% endblock %}

