html { 
    font-family: sans-serif;
    background: #eee;
    padding: 0.5rem;
    font-size: 2.5vmin; 
}
body { 
    max-width: 40em;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
}
body>nav {
    margin-bottom: 0.5rem;
    padding: 0.7rem;
    display: flex;
    align-items: center;
	border-radius: 5px;
}
body>nav,.content { 
    border-radius: 5px; 
    background: white;
    border: thin solid #bbb;
}
.content { padding: 1rem; }
h1 { font-size: 2em; color: black; }
h2 { font-size: 1.8em; text-align: center; }
h3 { font-size: 1.5em; margin-bottom: 0.5em; color: black;}
.content h1, .content h2 { margin-bottom: 0.3em;}
header { display: flex; width: 100%;}
header>* { flex: 1 }
header>*:nth-child(1) { flex-grow: 1;}
header>* { flex-grow: 0; }
body>nav>* { flex: 1; }
body>nav ul { text-align: right }
body>nav ul li { display: inline; }
hr { 
    height: 0px;
    text-align: center;
    border-width: 1px 0 0 0;
    margin: 2em 0;
    color: #ddd; border-color: #eee;
}
hr:after { content: '§';
    display: inline-block;
    position: relative;
    top: -0.55em;
    background: white;
    padding: 0 10px;}
.post>header { margin-bottom: 1em }
.post>img { margin-bottom: 1em; max-height: 15em; align: center;}
a:link,a:visited,a:active { color: darkblue; text-decoration: none }
a:hover { text-decoration: underline; }
p.body { font-family: 'Open Sans', sans-serif; line-height: 1.4}
.flexform { display: flex; flex-direction: column }
.flexform * { margin-bottom: 0.7em }
.flexform>label { margin-bottom: 0.3em }
.flexform #title, .flexform #body, .flexform #tags { width: 100% }
/*
.flexform>div { display: flex; }
.flexform input { margin: 5px; }
.flexform>div>input#title, .flexform>div>textarea#body { flex-grow: 1; }
 */
/* debugging */
/*header>* { border: thin solid red;}*/
