<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Flaskr</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ url_for('blog.rss_feed') }}" />
    </head>
    <body>
        <nav id="topnavigation">
            <a href="{{ url_for('index') }}" id="flaskr_logo">
              <h1><img src="{{ url_for('static', filename='logo.png') }}" alt="Flaskr"></h1>
            </a>
          <ul>
            <form>
              <input type="search" id="searchbox" name="searchquery" placeholder="Search posts">
            </form>
            {% if g.user %}
              <li><span id="username">{{ g.user['username'] }}</span></li>
              <li><a href="{{ url_for('auth.logout') }}" id="logout">Log Out</a></li>
            {% else %}
              <li><a href="{{ url_for('auth.register') }}" id="register">Register</a></li>
              <li><a href="{{ url_for('auth.login') }}" id="login">Log In</a></li>
            {% endif %}
          </ul>
        </nav>
        <section id="content">
          <header>{% block header %}{% endblock %}</header>
          {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
          <main>{% block content %}{% endblock %}</main>
        </section>
    </body>
</html>

